@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #DDDDDD;
  -webkit-text-size-adjust: none;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-tap-highlight-color: transparent;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  background-color: #222222;
}

html {
  width: 100%;
  height: 100%;
  background-color: #222222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #00a0d8;
  text-decoration: none;
}

a:hover {
  color: #00a0d8;
  text-decoration: none;
}

ol,
ul {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.side {
  position: fixed;
  -webkit-transform: translate3D(250px, 0, 0);
  -ms-transform: translate3D(250px, 0, 0);
  transform: translate3D(250px, 0, 0);
}

#main {
  background-color: #222222;
  padding-left: 290px;
  padding-right: 40px;
  max-width: 1390px;
  -webkit-overflow-scrolling: touch;
}

h1.intro {
  padding: 20px 30px;
  background-color: #252528;
  text-align: center;
  color: #AAAAAA;
}

@font-face {
  font-family: iconfont;
  src: url(../font/iconfont.eot);
  src: url(../font/iconfont.eot?#iefix) format("embedded-opentype"), url(../font/iconfont.ttf) format("truetype"), url(../font/iconfont.svg#iconfont) format("svg");
}

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont-a.eot");
  /* IE9 */
  src: url("../font/iconfont-a.eot#iefix") format("embedded-opentype"), url("../font/iconfont-a.woff") format("woff"), url("../font/iconfont-a.ttf") format("truetype"), url("../font/iconfont-a.svg#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e600";
}

.icon-archive:before {
  content: "\e601";
}

.icon-user:before {
  content: "\e602";
}

.icon-rss-v:before {
  content: "\e603";
}

.icon-tags:before {
  content: "\e604";
}

.icon-home:before {
  content: "\e605";
}

.icon-search:before {
  content: "\e606";
}

.icon-googleplus:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e608";
}

.icon-mail:before {
  content: "\e609";
}

.icon-twitter-v:before {
  content: "\e60a";
}

.icon-linkedin:before {
  content: "\e60b";
}

.icon-stackoverflow:before {
  content: "\e60c";
}

.icon-github-v:before {
  content: "\e60d";
}

.icon-facebook:before {
  content: "\e60e";
}

.icon-right:before {
  content: "\e60f";
}

.icon-left:before {
  content: "\e610";
}

.icon-link:before {
  content: "\e611";
}

.icon-https:before {
  content: "\e612";
}

.icon-toc:before {
  content: "\e61a";
}

.icon-top:before {
  content: "\e60a";
}

.icon-bilibili:before {
  content: "\eea8";
}

.hljs {
  display: block;
  background: #fff;
  color: #111;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.lang-bash .hljs-shebang,
.lang-java .hljs-javadoc,
.lang-javascript .hljs-javadoc,
.lang-rust .hljs-preprocessor {
  color: #969896;
}

.hljs-string,
.lang-apache .hljs-sqbracket,
.lang-c .hljs-preprocessor {
  color: #df5000;
}

.lang-coffeescript .hljs-regexp,
.lang-coffeescript .hljs-subst {
  color: #df5000;
}

.lang-cpp .hljs-preprocessor,
.lang-javascript .hljs-regexp,
.lang-json .hljs-attribute,
.lang-less .hljs-built_in,
.lang-makefile .hljs-variable {
  color: #df5000;
}

.lang-markdown .hljs-blockquote,
.lang-markdown .hljs-emphasis,
.lang-markdown .hljs-link_label,
.lang-markdown .hljs-strong,
.lang-markdown .hljs-value {
  color: #df5000;
}

.lang-nginx .hljs-number,
.lang-nginx .hljs-regexp {
  color: #df5000;
}

.lang-objectivec .hljs-preprocessor .hljs-title,
.lang-perl .hljs-regexp,
.lang-php .hljs-regexp,
.lang-scss .hljs-built_in,
.lang-xml .hljs-value {
  color: #df5000;
}

.hljs-keyword {
  color: #a71d5d;
}

.lang-css .hljs-at_rule,
.lang-css .hljs-important {
  color: #a71d5d;
}

.lang-go .hljs-typename,
.lang-haskell .hljs-type,
.lang-http .hljs-request,
.lang-ini .hljs-setting,
.lang-java .hljs-javadoctag {
  color: #a71d5d;
}

.lang-javascript .hljs-javadoctag,
.lang-javascript .hljs-tag {
  color: #a71d5d;
}

.lang-less .hljs-at_rule,
.lang-less .hljs-tag {
  color: #a71d5d;
}

.lang-nginx .hljs-title,
.lang-objectivec .hljs-preprocessor,
.lang-php .hljs-phpdoc {
  color: #a71d5d;
}

.lang-scss .hljs-at_rule,
.lang-scss .hljs-important,
.lang-scss .hljs-tag {
  color: #a71d5d;
}

.lang-sql .hljs-built_in,
.lang-stylus .hljs-at_rule,
.lang-swift .hljs-preprocessor {
  color: #a71d5d;
}

.lang-apache .hljs-cbracket,
.lang-apache .hljs-common,
.lang-apache .hljs-keyword {
  color: #0086b3;
}

.lang-bash .hljs-built_in,
.lang-bash .hljs-literal {
  color: #0086b3;
}

.lang-c .hljs-built_in,
.lang-c .hljs-number {
  color: #0086b3;
}

.lang-coffeescript .hljs-built_in,
.lang-coffeescript .hljs-literal,
.lang-coffeescript .hljs-number {
  color: #0086b3;
}

.lang-cpp .hljs-built_in,
.lang-cpp .hljs-number {
  color: #0086b3;
}

.lang-cs .hljs-built_in,
.lang-cs .hljs-number {
  color: #0086b3;
}

.lang-css .hljs-attribute,
.lang-css .hljs-function,
.lang-css .hljs-hexcolor,
.lang-css .hljs-number {
  color: #0086b3;
}

.lang-go .hljs-built_in,
.lang-go .hljs-constant {
  color: #0086b3;
}

.lang-haskell .hljs-number {
  color: #0086b3;
}

.lang-http .hljs-attribute,
.lang-http .hljs-literal {
  color: #0086b3;
}

.lang-java .hljs-number {
  color: #0086b3;
}

.lang-javascript .hljs-built_in,
.lang-javascript .hljs-literal,
.lang-javascript .hljs-number {
  color: #0086b3;
}

.lang-json .hljs-number {
  color: #0086b3;
}

.lang-less .hljs-attribute,
.lang-less .hljs-function,
.lang-less .hljs-hexcolor,
.lang-less .hljs-number {
  color: #0086b3;
}

.lang-makefile .hljs-keyword,
.lang-markdown .hljs-link_reference,
.lang-nginx .hljs-built_in {
  color: #0086b3;
}

.lang-objectivec .hljs-built_in,
.lang-objectivec .hljs-literal,
.lang-objectivec .hljs-number {
  color: #0086b3;
}

.lang-php .hljs-literal,
.lang-php .hljs-number {
  color: #0086b3;
}

.lang-puppet .hljs-function,
.lang-python .hljs-number {
  color: #0086b3;
}

.lang-ruby .hljs-constant,
.lang-ruby .hljs-number,
.lang-ruby .hljs-prompt,
.lang-ruby .hljs-subst .hljs-keyword,
.lang-ruby .hljs-symbol {
  color: #0086b3;
}

.lang-rust .hljs-number {
  color: #0086b3;
}

.lang-scss .hljs-attribute,
.lang-scss .hljs-function,
.lang-scss .hljs-hexcolor,
.lang-scss .hljs-number,
.lang-scss .hljs-preprocessor {
  color: #0086b3;
}

.lang-sql .hljs-number {
  color: #0086b3;
}

.lang-stylus .hljs-attribute,
.lang-stylus .hljs-hexcolor,
.lang-stylus .hljs-number,
.lang-stylus .hljs-params {
  color: #0086b3;
}

.lang-swift .hljs-built_in,
.lang-swift .hljs-number {
  color: #0086b3;
}

.lang-apache .hljs-tag,
.lang-cs .hljs-xmlDocTag,
.lang-css .hljs-tag,
.lang-stylus .hljs-tag,
.lang-xml .hljs-title {
  color: #63a35c;
}

.lang-bash .hljs-variable {
  color: #333;
}

.lang-cs .hljs-preprocessor {
  color: #333;
}

.lang-cs .hljs-preprocessor .hljs-keyword {
  color: #333;
}

.lang-css .hljs-attr_selector,
.lang-css .hljs-value {
  color: #333;
}

.lang-ini .hljs-keyword,
.lang-ini .hljs-value {
  color: #333;
}

.lang-javascript .hljs-tag .hljs-title,
.lang-makefile .hljs-constant,
.lang-nginx .hljs-variable,
.lang-scss .hljs-variable,
.lang-xml .hljs-tag {
  color: #333;
}

.lang-bash .hljs-title,
.lang-c .hljs-title,
.lang-coffeescript .hljs-title,
.lang-cpp .hljs-title,
.lang-cs .hljs-title {
  color: #795da3;
}

.lang-css .hljs-class,
.lang-css .hljs-id,
.lang-css .hljs-pseudo {
  color: #795da3;
}

.lang-diff .hljs-chunk {
  color: #795da3;
}

.lang-haskell .hljs-pragma,
.lang-haskell .hljs-title {
  color: #795da3;
}

.lang-ini .hljs-title,
.lang-java .hljs-title,
.lang-javascript .hljs-title {
  color: #795da3;
}

.lang-less .hljs-class,
.lang-less .hljs-id,
.lang-less .hljs-pseudo {
  color: #795da3;
}

.lang-makefile .hljs-title,
.lang-objectivec .hljs-title,
.lang-perl .hljs-sub,
.lang-php .hljs-title,
.lang-puppet .hljs-title {
  color: #795da3;
}

.lang-python .hljs-decorator,
.lang-python .hljs-title {
  color: #795da3;
}

.lang-ruby .hljs-parent,
.lang-ruby .hljs-title {
  color: #795da3;
}

.lang-rust .hljs-title {
  color: #795da3;
}

.lang-scss .hljs-class,
.lang-scss .hljs-id,
.lang-scss .hljs-pseudo {
  color: #795da3;
}

.lang-stylus .hljs-class,
.lang-stylus .hljs-id,
.lang-stylus .hljs-pseudo,
.lang-stylus .hljs-title {
  color: #795da3;
}

.lang-swift .hljs-title,
.lang-xml .hljs-attribute {
  color: #795da3;
}

.lang-coffeescript .hljs-attribute,
.lang-coffeescript .hljs-reserved {
  color: #1d3e81;
}

.lang-diff .hljs-chunk {
  font-weight: 700;
}

.lang-diff .hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.lang-diff .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.lang-markdown .hljs-link_url {
  text-decoration: underline;
}

#sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  /*background-image: url('/static/bg.jpg');*/
  background-size: cover;
  background-color: #1D1D22;
  overflow: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

#sidebar li,
#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar .profile {
  padding-top: 40px;
  padding-bottom: 10px;
}

#sidebar .profile a,
#sidebar .profile img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  overflow: hidden;
}

#sidebar .profile a {
  display: block;
  margin: 0 auto;
}

#sidebar .profile span {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #e5e3e9;
  text-align: center;
}

#sidebar .buttons {
  margin: 0px 25px;
}

#sidebar .buttons li {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
}

#sidebar .buttons li a {
  padding-left: 25px;
  display: block;
  color: #e5e3e9;
  -webkit-transition: color 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: color 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  text-decoration: none;
}

#sidebar .buttons li a i,
#sidebar .buttons li a span {
  display: inline-block;
  width: 86px;
  text-align: center;
}

#sidebar .buttons li a i {
  font-size: 20px;
  width: 25px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

#sidebar .buttons li a:hover {
  color: #e5e3e9;
}

#sidebar .buttons li a.inline {
  display: inline-block;
  width: 55px;
}

#sidebar-mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  overflow: hidden;
  display: none;
  background-color: rgba(255, 255, 255, 0);
}

#header {
  display: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: #323436;
}

body.side #header .btn-bar:before {
  width: 24px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 25px;
}

body.side #header .btn-bar:after {
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 24px;
}

body.side #header .btn-bar i {
  opacity: 0;
}

#header h1 {
  text-align: center;
  font-size: 16px;
}

#header h1 a {
  color: #999;
}

#header .btn-bar {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

#header .btn-bar i, #header .btn-bar:after, #header .btn-bar:before {
  width: 22px;
  height: 1px;
  position: absolute;
  left: 14px;
  background-color: #999;
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s;
  transition: all 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.3s;
}

#header .btn-bar i {
  top: 25px;
  opacity: 1;
}

#header .btn-bar:before {
  content: '';
  top: 17px;
}

#header .btn-bar:after {
  content: '';
  bottom: 16px;
}

#header a.me {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 10px;
}

#header a.me img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  overflow: hidden;
}

article {
  border: 1px solid #383838;
  padding: 20px;
  margin: 20px 0;
  position: relative;
  word-wrap: break-word;
}

article .meta {
  position: relative;
  float: right;
  color: #CCCCCC;
  font-size: .9em;
  line-height: 2;
  width: auto;
  text-align: right;
}

article .meta a {
  color: #777;
}

article .meta .comment,
article .meta .date,
article .meta .tags {
  position: relative;
}

article h1.title {
  color: #EEEEEE;
  font-size: 2em;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 30px;
}

article h1.title div {
  background-color: #888;
  width: 5px;
  height: 76px;
  left: 0;
  top: 0;
  position: absolute;
}

article h1.title a {
  color: #EEEEEE;
}

article h1.title a:hover {
  color: #2479CC;
  transition: color 0.3s;
}

article button {
  line-height: 1;
  border: none;
  cursor: pointer;
  padding: .625em .5em;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.1);
  background: #12b0e6;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  -webkit-appearance: button;
}

article input.runcode {
  line-height: 1;
  border: none;
  cursor: pointer;
  padding: .625em .5em;
  box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.1);
  background: #12b0e6;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  -webkit-appearance: button;
}

article input.runcode:active, article input.runcode:focus, article input.runcode:hover {
  background: #f6ad08;
}

article strong {
  font-weight: 700;
}

article em {
  font-style: italic;
}

article blockquote {
  margin: 10px 0 0 0;
  padding: 15px 20px;
  border-left: 5px solid #2479CC;
  background-color: #333333;
}

article blockquote p {
  margin-bottom: 0;
}

article blockquote a {
  word-break: break-all;
  word-wrap: break-word;
}

article code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 80%;
  margin: 0 2px;
  padding: 4px 5px;
  background-color: #353535;
  vertical-align: middle;
  border-radius: 5px;
}

article pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 14px;
  tab-size: 4;
  line-height: 1.6;
  color: #202020;
  padding: .6em;
  border-left: 5px solid #ccc;
  word-break: break-all;
  word-wrap: break-word;
  position: relative;
  overflow: hidden;
  border-left: none;
}

article pre code {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
  display: block;
  position: relative;
}

article pre b.name {
  position: absolute;
  line-height: 1;
  top: 10px;
  right: 25px;
  font-size: 60px;
  pointer-events: none;
  opacity: 0.2;
}

article img {
  padding: 0;
  display: block;
  border: 1px solid #383838;
  margin: 10px 0 5px 0;
  max-width: 100%;
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
}

article table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

article table td {
  border: 0;
}

article table th {
  border: 0;
  border-bottom: 2px solid #848484;
  text-align: left;
  padding: 6px 20px;
}

article table td {
  border-bottom: 1px solid #d0d0d0;
  padding: 6px 20px;
}

article .expire-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color: #ffffc0;
  border-left: 5px solid #fff000;
  color: #333;
}

article .aliyun-tips {
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  background-color: #f0f8f4;
  border-left: 5px solid #7cc4a0;
}

article .post-info {
  font-size: 14px;
}

article .entry-content {
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word;
}

article .entry-content .date {
  color: #999;
  font-size: 14px;
  font-style: italic;
}

article .entry-content blockquote,
article .entry-content dl,
article .entry-content h1,
article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6,
article .entry-content iframe,
article .entry-content ol,
article .entry-content p,
article .entry-content pre,
article .entry-content table,
article .entry-content ul {
  margin-top: 15px;
}

article .entry-content blockquote > p:first-of-type {
  margin-top: 0;
}

article .entry-content dl dl,
article .entry-content dl ol,
article .entry-content dl ul {
  margin-top: 0;
}

article .entry-content ol dl,
article .entry-content ol ol,
article .entry-content ol ul {
  margin-top: 0;
}

article .entry-content ul dl,
article .entry-content ul ol,
article .entry-content ul ul {
  margin-top: 0;
}

article .entry-content dl,
article .entry-content ol,
article .entry-content ul {
  margin-left: 25px;
}

article.tags section a {
  display: inline-block;
  font-size: 14px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: rgba(36, 121, 204, 0.8);
  border: 1px solid rgba(36, 121, 204, 0.8);
  border-radius: 4px;
  margin: 0 15px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), border 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: color 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99), border 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}

article.tags section a:hover {
  color: #2479CC;
  border-color: #2479CC;
}

article .app-code > ul {
  list-style: decimal;
  background-color: #fff;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

article .app-code li {
  list-style: decimal-leading-zero;
  border-left: 1px solid #ddd;
  padding: 0 10px;
  position: relative;
}

article .app-code li.mark {
  background-color: #fffbdd !important;
}

article .app-code li:hover {
  background-color: #f3f3f3 !important;
}

article .app-code .line-num {
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  left: -40px;
  cursor: pointer;
}

article .app-code li:nth-of-type(even) {
  background-color: #fcfcfc;
  color: inherit;
}

article .entry-content pre .app-code {
  background-color: #eee;
  overflow-x: auto;
}

article .entry-content pre code {
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0;
  line-height: 26px;
}

a.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

#search .wrapper {
  margin-right: 72px;
}

#search form {
  position: relative;
}

#search .wrapper input {
  -webkit-appearance: none;
  border: 1px solid #484848;
  background-color: #353535;
  color: #D5D5D5;
  -webkit-text-fill-color: #D5D5D5;
  /*输入文字、placeholder颜色*/
  caret-color: #FFFFFF;
  /*光标颜色*/
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  height: 40px;
  outline: 0;
  padding: 4px 6px;
  width: 100%;
}

#search .submit {
  -webkit-appearance: none;
  background-color: #686868;
  border: 1px solid #484848;
  border-left: 0;
  border-radius: 0;
  color: #EEEEEE;
  display: block;
  font-size: 16px;
  height: 40px;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 72px;
}

#searchResult {
  min-height: 350px;
  overflow-x: hidden;
}

#searchResult .info {
  color: #979797;
  font-size: 13px;
  padding: 15px 0;
  border-bottom: 1px solid #333333;
}

#searchResult .info div {
  float: right;
}

#searchResult .no-result {
  padding: 5px;
  margin: 15px 0;
  border: 1px solid #fc3;
  background-color: #fff4c2;
  font-size: 13px;
  color: #222222;
}

#searchResult .loading {
  margin-top: 20px;
}

#searchResult .hot-words {
  margin-top: 20px;
}

#searchResult .hot-words a {
  margin-right: 20px;
}

#searchResult .item {
  padding: 8px 10px;
  border-top: 2px solid #444444;
}

#searchResult .item .title a {
  font-size: 16px;
  text-decoration: underline;
  color: #40c0ec;
}

#searchResult .item .title .type {
  display: inline-block;
  background-color: #eee;
  color: #888;
  margin-right: 8px;
  padding: 0 5px;
  font-size: 13px;
  border-radius: 3px;
}

#searchResult .item .desc {
  font-size: 14px;
  line-height: 1.6;
}

#searchResult .item .tags {
  font-size: 14px;
  line-height: 1.8;
}

#searchResult .item .tags a {
  margin-right: 12px;
  color: #666;
}

#searchResult .item .desc b,
#searchResult .item .title b {
  color: #C00;
  font-weight: 400;
}

#footer {
  line-height: 1.8;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #333333;
  font-size: 0.9em;
}

#footer .beian {
  color: #AAAAAA;
}

#comments {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #444444;
  padding: 30px 0;
  min-height: 350px;
}

#comments h1.title {
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 20px;
}

.pagination {
  width: 100%;
  line-height: 20px;
  position: relative;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #444444;
  padding: 20px 0;
  overflow: hidden;
}

.pagination .prev {
  float: left;
}

.pagination .next {
  float: right;
}

.pagination .center {
  text-align: center;
  width: 80px;
  margin: auto;
}

#side-toolbar {
  bottom: 20px;
  position: fixed;
  font-size: 12px;
  z-index: 1999;
}

#side-toolbar .buttons li {
  display: block;
  width: 100%;
}

#side-toolbar .buttons li a i {
  font-size: 24px;
  text-align: center;
}

.gt-header-textarea {
  background: #363636 !important;
  color: #DDDDDD;
}

.gt-header-preview {
  background: #363636 !important;
}

.gt-btn-preview {
  background: #CCCCCC !important;
}

.gt-comment-content {
  background: #363636 !important;
}

.gt-comment-content:hover {
  box-shadow: 0 0.625em 3.75em 0 #252525 !important;
}

.gt-comment-content .gt-comment-body {
  color: #CCCCCC !important;
}

.gt-comment-content .gt-comment-body:hover pre {
  background: #CCCCCC !important;
  color: #333333;
}

.gt-comment-content .gt-comment-body pre {
  background: #424242 !important;
}
