$color1 : #00a0d8;
$color2 : #2479CC;
$color3 : #12b0e6;
$color4 : #f6ad08;
$color5 : #48AFF0;

$white1 : #ffffff;
$white2 : #F5F8FA;
$white3 : #EBF1F5;
$white4 : #CCCCCC;
$white5 : #EEEEEE;

$black1 : #182026;
$black2 : #252528;
$black3 : #293742;
$black4 : #30404D;
$black5 : #333333;
$black6 : #383838;
$black7 : #444444;

$gray1 : #5C7080;
$gray2 : #777777;
$gray3 : #888888;
$gray4 : #A7B6C2;
$gray5 : #BFCCD6;

$bg1 : #222222;
$bg2 : #353535;
$bg3 : #3A4B58;
$bg4 : #5D707F;

$font1 : #DDDDDD;
$font2 : #202020; //article.pre