.gt-header-textarea {
  background: #363636 !important;
  color: #DDDDDD;
}

.gt-header-preview {
  background: #363636 !important;
}


.gt-comment-content {
  background: #363636 !important;

  &:hover {
    box-shadow: 0 0.625em 3.75em 0 #252525 !important;
  }

  .gt-comment-body {
    color: #CCCCCC !important;

    &:hover pre {
      background: #CCCCCC !important;
      color: #333333;
    }

    pre {
      background: #424242 !important;
    }
  }
}
.markdown-body {
  color: #AAAAAA;
}

.gt-container {
  .gt-popup {
    background-color: #222222;
    border-color: #444444;
  }
  .gt-copyright {
    border-color: #555555;
  }
  .gt-meta{
    border-color: #484848;
  }
  .gt-btn{
    background-color:#315098;
  }
  .gt-btn-preview{
    background-color: #333333;
  }
  
}

