@import "style.dark";
.pagination {
    width: 100%;
    line-height: 20px;
    position: relative;
    border-top: 1px solid $border1;
    border-bottom: 1px solid $border3;
    padding: 20px 0;
    overflow: hidden;

    .prev {
        float: left;
    }

    .next {
        float: right;
    }

    .center {
        text-align: center;
        width: 80px;
        margin: auto;
    }
}