
#search {
    .wrapper {
        margin-right: 72px;
    }

    form {
        position: relative;
    }

    .wrapper input {
        -webkit-appearance: none;
        border: 1px solid $border5 ;
        @if $mode == 1 {
            background-color: #353535;
            color: #D5D5D5;
            -webkit-text-fill-color: #D5D5D5;

            /*输入文字、placeholder颜色*/
            caret-color: #FFFFFF;
        }
        /*光标颜色*/
        border-radius: 0;
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        height: 40px;
        outline: 0;
        padding: 4px 6px;
        width: 100%;
    }

    .submit {
        -webkit-appearance: none;
        background-color: $bg11 ;
        border: 1px solid $border5;
        border-left: 0;
        border-radius: 0;
        color: $color4;
        display: block;
        font-size: 16px;
        height: 40px;
        outline: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 72px;
    }
}

#searchResult {
    min-height: 350px;
    overflow-x: hidden;

    .info {
        color: $color16;
        font-size: 13px;
        padding: 15px 0;
        border-bottom: 1px solid $border10;

        div {
            float: right;
        }
    }

    .no-result {
        padding: 5px;
        margin: 15px 0;
        border: 1px solid $border11;
        background-color: $bg18 ;
        font-size: 13px;
        @if $mode == 1{
            color: #202020;
        }
    }

    .loading {
        margin-top: 20px;
    }

    .hot-words {
        margin-top: 20px;

        a {
            margin-right: 20px;
        }
    }

    .item {
        padding: 8px 10px;
        border-top: 2px solid $border6 ;

        .title {
            a {
                font-size: 16px;
                text-decoration: underline;
                @if $mode == 1{
                    color: #40c0ec;
                }
            }

            .type {
                display: inline-block;
                background-color: $bg2;
                color: $color1;
                margin-right: 8px;
                padding: 0 5px;
                font-size: 13px;
                border-radius: 3px;
            }
        }

        .desc {
            font-size: 14px;
            line-height: 1.6;
        }

        .tags {
            font-size: 14px;
            line-height: 1.8;

            a {
                margin-right: 12px;
                color: $color2;
            }
        }

        .desc b,
        .title b {
            color: $color3;
            font-weight: 400;
        }
    }
}