$mode : 0;

$border1 : #FFFFFF; //#footer ;#comments ;.pagination 
$border2 : #EEEEEE; //article;article .entry-content pre code
$border3 : #DDDDDD; //article .app-code li;#comments ;.pagination 
$border4 : #CCCCCC; //article pre; article img
$border5 : #BBBBBB; //#search .submit
$border6 : #AAAAAA; //#searchResult .item
$border7 : #848484; //article table th
$border14 : #d0d0d0; //article table td
$border8 : #e2e2e2; //article .expire-tips; article .aliyun-tips 
$border9 : #fff000; //article .expire-tips
$border10 : #e9e9e9; //#searchResult .info 
$border11 : #ffcc33; //#searchResult .no-result
$border12 : #7cc4a0; //article .aliyun-tips
$border13 : #2479CC; //article.tags section a:hover

$bg1 : #fbfcff; //article
$bg2 : #eeeeee; //#searchResult .item .title .type;article .entry-content pre .app-code 
$bg3 : #f8f8f8; //article blockquote
$bg4 : #f2f2f2; //article code 
$bg5 : #ffffc0; //article .expire-tips
$bg6 : #f0f8f4; //article .aliyun-tips
$bg7 : #ffffff; //html ;#main ;article .entry-content pre code;article input.runcode;@media article
$bg8 : #fffbdd; //article .app-code li.mark 
$bg9 : #f3f3f3; //article .app-code li:hover 
$bg10 : #fcfcfc; //article .app-code li:nth-of-type(even) 
$bg11 : #e7e7e7; //#search .submit
$bg12 : #f6f9fa; //h1.intro 
$bg13 : #6085B0;//#sidebar
$bg14 : #323436;//#header
$bg15 : #999999;//#header .btn-bar:before
$bg16 : #12b0e6;//article input.runcode
$bg17 : #ffffff;//article .app-code>ul
$bg18 : #fff4c2; //#searchResult .no-result

$color1 : #888888; //#searchResult .item .title .type ;article h1.title div
$color2 : #666666;//#searchResult .item .tags a 
$color3: #CC0000;//#searchResult .item .title b 
$color4 : #222222; // body; article h1.title;#search .submit
$color5 : #2479CC; //a:hover; article h1.title a:hover; article blockquote; article.tags section a:hover
$color6 : #f6f9fa; //h1.intro 
$color7 : #999999;//h1.intro ;article .entry-content .date ;@media article .desc
$color8 : #6085B0;//#sidebar
$color9 : #444444; //article .meta 
$color10 : #777777;//article .meta a
$color11 : #333333;//article h1.title a ;article .expire-tips
$color12 : #666666;//#footer .beian
$color13 : #f6ad08;//article input.runcode:hover 
$color14 : #202020;//article pre
$color15 : #FFFFFF; //article input.runcode
$color16 : #676767;//#searchResult .info
$color17: #e5e3e9;//#sidebar .profile span;#sidebar .buttons li a ;#sidebar .buttons li a:hover 
$color18 : #999999;//#header h1 a 


