$mode : 1;

$border1 : #333333; //#footer ;#comments ;.pagination 
$border2 : #EEEEEE; //article;article .entry-content pre code
$border3 : #383838; //article .app-code li;#comments ;.pagination 
$border4 : #CCCCCC; //article pre; article img
$border5 : #484848; //#search .submit
$border6 : #444444; //#searchResult .item
$border7 : #848484; //article table th
$border14 : #d0d0d0; //article table td
$border8 : #e2e2e2; //article .expire-tips; article .aliyun-tips 
$border9 : #fff000; //article .expire-tips
$border10 : #333333; //#searchResult .info 
$border11 : #ffcc33; //#searchResult .no-result
$border12 : #7cc4a0; //article .aliyun-tips
$border13 : #48AFF0; //article.tags section a:hover

$bg1 : #fff4c2; //#searchResult .no-result
$bg2 : #eeeeee; //#searchResult .item .title .type;article .entry-content pre .app-code 
$bg3 : #333333;//article blockquote
$bg4 : #353535; //article code 
$bg5 : #ffffc0; //article .expire-tips
$bg6 : #f0f8f4; //article .aliyun-tips
$bg7 : #222222; //html ;#main ;article .app-code>ul;article .entry-content pre code;article input.runcode;@media article
$bg8 : #fffbdd; //article .app-code li.mark 
$bg9 : #f3f3f3; //article .app-code li:hover 
$bg10 : #fcfcfc; //article .app-code li:nth-of-type(even) 
$bg11 : #686868; //#search .submit
$bg12 : #f6f9fa; //h1.intro 
$bg13 : #1D1D22;//#sidebar
$bg14 : #323436;//#header
$bg15 : #999999;//#header .btn-bar:before
$bg16 : #12b0e6;//article input.runcode

$color1 : #888888;//#searchResult .item .title .type ;article h1.title div
$color2 : #666666;//#searchResult .item .tags a ;#footer .beian
$color3: #CC0000;//#searchResult .item .title b 
$color4 : #EEEEEE; // body; article h1.title;#search .submit
$color5 : #48AFF0; //a:hover; article h1.title a:hover; article blockquote; article.tags section a:hover
$color6 : #f6f9fa; //h1.intro 
$color7 : #999999;//h1.intro ;article .entry-content .date ;@media article .desc
$color8 : #6085B0;//#sidebar
$color9 : #CCCCCC;//article .meta 
$color10 : #777777;//article .meta a
$color11 : #EEEEEE;//article h1.title a ;article .expire-tips
$color12 : #AAAAAA;//#footer .beian
$color13 : #f6ad08;//article input.runcode:hover 
$color14 : #202020;//article pre
$color15 : #ffffff; //article input.runcode
$color16 : #979797;//#searchResult .info
$color17: #e5e3e9;//#sidebar .profile span;#sidebar .buttons li a ;#sidebar .buttons li a:hover 
$color18 : #999999;//#header h1 a 


